In [17]:
import pandas as pd
import numpy as np

d=pd.read_csv('D:/ai/neural networks/data.csv')

In [18]:
df = pd.DataFrame(data=d)

In [19]:
ns = df.shape[0]
ns

4

In [33]:
#intialization
n=0.1
i=0 
epochs=1000
m=1
c=-1

while i<epochs:
    dm=0
    dc=0
    for j in range(0,ns):
        dm=dm+(df['y'][j]-m*df['x'][j]-c)*(df['x'][j])
        dc=dc+(df['y'][j]-m*df['x'][j]-c)
        dm = (-1)*(1/ns)*dm
        dc = (-1)*(1/ns)*dc
        ddm=(-1)*n*dm
        ddc=(-1)*n*dc
        m=m+ddm
        c=c+ddc
        i=i+1
        
    
  
print(m,c)

2.364652787966388 2.800702359979054

In [34]:
df['yp']=np.nan

In [35]:
for i in range(0,ns):
    df['yp'][i]=m*df['x'][i]+c

In [36]:
df

     x    y        yp
0  0.2  3.4  3.273633
1  0.4  3.8  3.746563
2  0.6  4.2  4.219494
3  0.8  4.6  4.692425

In [37]:
mse = 0
for i in range(0,ns):
  mse += (df['y'][i] -df['yp'][i])**2
mse = mse/ns
mse

0.0069366059806568936